.imageModal {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}
/* .content {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0px;
  height: max-content;
} */
